#
# Toolchain setup
#

CROSS_COMPILE="mips-sde-elf-"
ADDITIONAL_CFLAGS=""
ADDITIONAL_LDFLAGS=""


# Memory Management
#
SWAP=n

#
# Schedule
#
SCHEDULER_MLFQ=n

#
# Filesystem
#
HAVE_SFS=y
SFS_IMAGE_SIZE=32
HAVE_YAFFS2=y
HAVE_FATFS=y

#
# Linux Device Driver Environment
#
# HAVE_LINUX_DDE_BASE is not set

#
# Bionic libc porting related code is currently not supported in MIPS.
#
BIONIC_LIBC=y

MIPS_USE_THINPAD_SERIAL_DRIVER=n
MIPS_ENABLE_THINPAD_FLASH_DRIVER=n
